@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
::-webkit-scrollbar {
    height: 10px;
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gray;


}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1f232c;
    border-radius: 8px;
    height: 4px;
    border: 2px solid gray;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #1f232ca4;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}